<nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky">
    <div class="container-fluid navbar-custom">
      <span>Hello World</span> 
      <sup>©</sup>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-text">
          <a class="nav-link navbar-text" aria-current="page" href="http://localhost:3000/">Home</a>
          <a class="nav-link navbar-text" href="http://localhost:3000/about">About Us</a>
          <a class="nav-link navbar-text" href="http://localhost:3000/blogs">Blogs</a>
        </div>
        <div class="d-flex push-nav">
              <% if (user) {%>
                <a class="nav-link navbar-text" href="/users/<%= user._id %>">User Profile</a>
                <a class="nav-link" href="http://localhost:3000/users/logout"><button class="btn btn-outline-light navbar-text" type="submit">Log out</button></a>
            <% } else { %>
                <a class="nav-link navbar-text" href="http://localhost:3000/">Create Account</a>
                <a class="nav-link" href="http://localhost:3000/users/login"><button class="btn btn-outline-light navbar-text" type="submit">Log in</button></a>
              <% } %>
         </div>
      </div>
    </div>
  </nav>